/* 
CONVENCION

1. Posicionamiento
2. Box model
3. Tipografia
4. Visuales
5. Otros
 */

:root {
    --cyber-grape: #6A458C;
    --magenta-haze: #9F4678;
    --old-gold: #CCC33D;
    --dark-khaki: #C5C17B;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --off-white: #FAF8F7;
    --just-white: #FEFEFE;
    --font-dm: 'DM Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --normal: 300;
    --medium: 500;
    --bold: 700;
}

/* base styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: var(--font-dm);
}

/* fonts */

/* mobile styles */
header {
    position: relative;
    display: grid;
    width: 100%;
    height: 450px;
    min-width: 320px;
    /* place-content: center; */
    /* justify-items: center; */
    text-align: center;
    /* background: rgb(255,255,255); */
    background: linear-gradient(207deg, rgba(32,30,28,1) 16.69%, rgba(106,69,140,1) 100%);
}

header nav {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* direction: rtl; */
    justify-items: left;
    padding: 0 1em;
    background-color: var(--just-white)

}

.navbar__menu-toggle {
    align-self: center;
    justify-self: right;
}

#check {
    display: none;
}
.checkbtn {
    display: none;
}

.checkbtn img {
    height: 4em;
    cursor: pointer;
}

.navbar__menu-toggle ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.navbar__menu-toggle ul li {
    margin-right: 2em;
    color: var(--off-white);
}

.navbar span {
    display: inline-block;
}

.navbar span img {
    width: 4em;
    height: 4em;
}

.logo-brand {
    align-self: center;
}

.logo-brand img {
    width: 16em;
    height: 8em;
    margin-left: 0.5em;
    /* margin-top: 60px; */
}

.header__title--container {
    width: 90%;
    height: 218px;
    min-width: 288px;
    max-width: 900px;
    justify-self: center;
    color: var(--off-white);
    /* margin-top: 40px; */
}

/* MEDIA QUERIES */

/* mobile styles */
/* @media (max-width: 768px) { */

    .header__title--container {
        display: grid;
        grid-template-rows: 1fr 2fr;
        justify-items: center;
    }

    .header__title--container h1 {
        margin-top: 1em;
        font-size: 2.4em;
        line-height: 2.6em;
    }

    .header__title--container p {
        margin-top: 1rem;
        font-weight: var(--medium);
        font-size: 1.4em;
        line-height: 1.8em;
    }

    .header__title--container .header--button {
        position: absolute;
        top: 37em;
        display: block;
        margin-top: 1.1em;
        padding: 1.9em 3.5em;
        width: 26em;
        height: 4.8em;
        background-color: var(--off-white);
        /* sombra */
        box-shadow: 0 0.4em 0.8em rgba(89, 73, 30, 0.16);
        border: none;
        border-radius: 0.5em;
    }

    .header--button {
        font-size: 1.1rem;
    }

    .header--button span {
        display: inline-block;
        width: 1.3em;
        height: 0.8em;
        margin-left: 1.5em;
        background-image: url('/assets/icons/arrow_down.png');
    }

    .checkbtn {
        display: block;
    }

    .navbar__menu-toggle {
    }

    .navbar__menu-toggle ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        /* top: 8em;
        left: 100%; */
            font-size: 1.2em;
            height: 100vh;
            width: 100%;
            text-align: center;
            background-color: var(--cyber-grape);
            top: 6.7em;
            line-height: 5rem;
            left: 100%;
    }

    .navbar__menu-toggle ul li a {
        color: var(--off-white);
        font-weight: 500;
    }

    .navbar__menu-toggle ul li {
        margin: 0;
    }

    .imgToggle {
        width: 48px;
        height: 48px;
        background-image: url('./assets/icons/menu.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    #check:checked ~nav .navbar__menu-toggle > ul {
        position: absolute;
        left: 0%;
        padding-top: 10.5rem;
    }

    #check:checked ~nav .navbar__menu-toggle > label > div {
        /* display: none; */
        display: block;
        width: 48px;
        height: 48px;
        background-image: url('./assets/icons/close.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #check:checked ~nav + div > .header--button {
        display: none;
    }

    main {
        width: 100%;
        margin-top: 5rem;
    }

    /* popular tours section */
    .popular-tours {
        width: 100%;
        height: 350px;
        /* background-color: #C5C17B; */
    }

    .popular-tours h2 {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: bold;
        /* line-height: 2.6rem; */
        /* text-align: center; */
    }

    .slider {
        position: relative;
    }

    .slider__container {
        display: none;
        width: 100%;
        height: 250px;
        text-align: center;
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        /* background-color: var(--cyber-grape); */
    }

    .slider__container img {
        width: 85%;
        height: 250px;
        align-self: center;
    }

    .slider__container p {
        width: 90%;
        height: 2rem;
        margin-top: -0.5rem;
        margin-left: 16px;
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 4px;
        text-align: left;
        background-color: var(--cyber-grape);
        color: var(--just-white);
        border: none;
        border-radius: 3px;
        font-size: 1.2rem;
        font-weight: bold;
        font-style: oblique;
    }

    .slider__container--prev, 
    .slider__container--next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        padding: 5px;
        color: #6A458C;
        cursor: pointer;
        font-size: 2rem;
        transition: 0.1s;
        user-select: none;
    }

    .slider__container--prev:hover, 
    .slider__container--next:hover {
        color: antiquewhite;
    }

    .slider__container--next {
        right: 0;
    }

    .slider--dotsbox {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 20px;
        cursor: pointer;
    }

    .dotsbox--dot {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin: 0 5px;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
    }

    .active, .dotsbox--dot:hover {
        border-color: var(--magenta-haze);
    }

    /* animations */
    .fade {
        /* -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s; */
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from { opacity: 0.8; }
        to { opacity: 1; }
    }

    @keyframes fade {
        from { opacity: 0.8; }
        to { opacity: 1; }
    }

    img {
        transform: scale(.9, .9);
        -webkit-animation-name: zoomin;
        -webkit-animation-duration: 40s;
        animation-name: zoomin;
        animation-duration: 10s;
    }

    @-webkit-keyframes zoomin {
        from { transform: scale(.9, .9) }
        to { transform: scale(1, 1) }
    }

    @keyframes zoomin {
        from { transform: scale(.9, .9) }
        to { transform: scale(1, 1) }
    }


/* } */

